footer {
  background-color: rgb(63, 81, 181);
}

.whiteText {
  color: white;
}

.fivePadding {
  margin: 5px 5px 5px 5px;
}

.bottomFooter {
  background-color: #283593;
}

.bottomFivePadding {
  padding-bottom: 5px;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.main {
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
}

th, td {
    padding: 10px;
    text-align: center;
}

/*.animate-if.ng-enter,
.animate-if.ng-leave {
  -webkit-transition: opacity ease-in-out 1s;
  -moz-transition: opacity ease-in-out 1s;
  -ms-transition: opacity ease-in-out 1s;
  -o-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
}
.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity: 0;
}
.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity: 1;
}*/

/*.aladin-zoomControl {
  display: none;
}*/

.boarder1 {
  border-style: double;
}

.boarder2 {
  border-style: solid;
    border-color: red;
    margin: 10px;
}

.boarder3 {
  border-style: solid;
    border-color: blue;
    padding: 10px;
}

.aladin-fullscreenControl,
.aladin-zoomControl,
/*.zoomMinus,
.zoomPlus,*/
.aladin-logo,
.aladin-location,
.aladin-layersControl-container,
.aladin-gotoControl-container {
  display: none;
}

.inner {
  position: absolute;
  z-index: 1000;
}

.aladinCont {
  height: 650px;
  width: 840px;
}
