<main class="wrapper">
  <div class="main">
    <h1>New Project Page</h1>

    <div layout="row">

      <div flex="10"></div>

      <div flex="80">
        <div layout="column">
            <md-content layout-padding="">
              <form name="projForm" ng-submit="$ctrl.addProject()">
                <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
                  <div flex-gt-sm="80">
                  </div>

                  <md-input-container>
                    <md-switch ng-model="showHints">Showing {{showHints ? "Hints" : "Errors"}}</md-switch>
                  </md-input-container>

                </div>

                <div layout-gt-sm="row">

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Camera</label>
                    <input md-maxlength="30" name="img_sensor" ng-model="$ctrl.proj.img_sensor" required="">

                    <div class="hint" ng-show="showHints">The Make and Model of your Camera?</div>

                    <div ng-messages="projForm.img_sensor.$error" ng-hide="showHints">
                        <div ng-message="md-maxlength">The Camera name has to be less than 30 characters long.</div>
                    </div>
                  </md-input-container>

                  <div flex="5" hide-xs="" hide-sm="">
                  </div>

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Telescope</label>
                    <input md-maxlength="30" name="tel_ota" ng-model="$ctrl.proj.tel_ota">

                    <div class="hint" ng-show="showHints">Example: Tak FSQ106n, Meade 10" SCT or 16" Newtonian</div>

                    <div ng-messages="projForm.tel_ota.$error" ng-hide="showHints">
                        <div ng-message="md-maxlength">The Telescope name has to be less than 30 characters long.</div>
                    </div>
                  </md-input-container>

                </div>
                <div layout-gt-sm="row">

                  <md-input-container  layout-gt-sm="row" class="md-block" flex-gt-sm="">

                      <p>Camera Type: <span class="radioValue">{{ $ctrl.proj.cam }}</span> </p>

                      <md-radio-group ng-model="$ctrl.proj.cam">

                        <md-radio-button value="DSLR" class="md-primary"> DSLR </md-radio-button>
                        <md-radio-button value="cooled DSLR"> cooled DSLR </md-radio-button>
                        <md-radio-button value="CCD Monochrome"> CCD Monochrome </md-radio-button>
                        <md-radio-button value="CCD Color"> CCD Color </md-radio-button>
                        <md-radio-button value="CMOS Monochrome"> CMOS Monochrome </md-radio-button>
                        <md-radio-button value="CMOS Color"> CMOS Color </md-radio-button>

                      </md-radio-group>

                  </md-input-container>

                  <div flex="5" hide-xs="" hide-sm="">
                  </div>

                  <md-input-container  layout-gt-sm="row" class="md-block" flex-gt-sm="">

                      <p>Telescope Type: <span class="radioValue">{{ $ctrl.proj.ota }}</span> </p>

                      <md-radio-group ng-model="$ctrl.proj.ota">

                        <md-radio-button value="Refractor" class="md-primary"> Refractor </md-radio-button>
                        <md-radio-button value="Reflector"> Reflector </md-radio-button>
                        <md-radio-button value="Schmidt-Cassigrain"> Schmidt-Cassigrain </md-radio-button>
                        <md-radio-button value="Ritchey-Chrétiens"> Ritchey-Chrétiens </md-radio-button>
                        <md-radio-button value="Dall-Kirkham"> Dall-Kirkham </md-radio-button>

                      </md-radio-group>

                  </md-input-container>

                </div>
                <div layout-gt-sm="row">

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Sensor size (w in mm)</label>
                    <input name="img_sz_w" ng-model="$ctrl.proj.img_sz_w" minlength="2" maxlength="5">

                    <div class="hint" ng-show="showHints">Example: 23.60</div>

                    <div ng-messages="projForm.img_sz_w.$error" ng-hide="showHints">
                        <div ng-message-exp="['minlength', 'maxlength']">The Sensor size (w) has to be more than 2  and less than 5 digits long.</div>
                    </div>
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Sensor size (h in mm)</label>
                    <input name="img_sz_h" ng-model="$ctrl.proj.img_sz_h" minlength="2" maxlength="5">

                    <div class="hint" ng-show="showHints">Example: 15.80</div>

                    <div ng-messages="projForm.img_sz_w.$error" ng-hide="showHints">
                        <div ng-message-exp="['minlength', 'maxlength']">The Sensor size (h) has to be more than 2  and less than 5 digits long.</div>
                    </div>
                  </md-input-container>

                  <div flex="5" hide-xs="" hide-sm="">
                  </div>

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>focal length (mm)</label>
                    <input name="focal_length" ng-model="$ctrl.proj.focal_length" minlength="3" maxlength="5">

                    <div class="hint" ng-show="showHints">Example: 910</div>

                    <div ng-messages="projForm.focal_length.$error" ng-hide="showHints">
                        <div ng-message-exp="['minlength', 'maxlength']">The focal length has to be more than 3  and less than 5 digits long.</div>
                    </div>
                  </md-input-container>

                </div>
                <div layout-gt-sm="row">

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Sensor Array (w)</label>
                    <input name="img_array_w" ng-model="$ctrl.proj.img_array_w" minlength="2" maxlength="5">

                    <div class="hint" ng-show="showHints">Example: 3872</div>

                    <div ng-messages="projForm.img_array_w.$error" ng-hide="showHints">
                        <div ng-message-exp="['minlength', 'maxlength']">The Sensor size (w) has to be more than 2  and less than 5 digits long.</div>
                    </div>
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Sensor Array (h)</label>
                    <input name="img_array_h" ng-model="$ctrl.proj.img_array_h" minlength="2" maxlength="5">

                    <div class="hint" ng-show="showHints">Example: 2592</div>

                    <div ng-messages="projForm.img_array_w.$error" ng-hide="showHints">
                        <div ng-message-exp="['minlength', 'maxlength']">The Sensor size (h) has to be more than 2  and less than 5 digits long.</div>
                    </div>
                  </md-input-container>

                  <div flex="5" hide-xs="" hide-sm="">
                  </div>

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Pixel size (microns)</label>
                    <input name="pix_sz" ng-model="$ctrl.proj.pix_sz" minlength="1" maxlength="4">

                    <div class="hint" ng-show="showHints">Example: 6.1</div>

                    <div ng-messages="projForm.pix_sz.$error" ng-hide="showHints">
                      <div ng-message-exp="['minlength', 'maxlength']">The Pixel size (w x h) has to be more than 2  and less than 4 digits long.</div>
                    </div>
                  </md-input-container>

                </div>

                <hr>
                <div>FOV (w x h Degrees): {{$ctrl.proj.img_sz_w * 3438 / $ctrl.proj.focal_length / 60}} {{$ctrl.proj.img_sz_h * 3438 / $ctrl.proj.focal_length / 60 * .8}}</div>
                <div>Aladin Image 1200px Wide {{1200 / ($ctrl.proj.img_sz_w * 3438 / $ctrl.proj.focal_length / 60) * ($ctrl.proj.img_sz_h * 3438 / $ctrl.proj.focal_length / 60)}}px High</div>
                <hr>

                <div layout-gt-sm="row">

                  <style>
                    body[dir=rtl] .hint {
                      right: 2px;
                      left: auto;
                    }
                  </style>
                </div>

                <button class="md-button md-ink-ripple" type="button" ui-sref="newProject2"> Continue </button>

              </form>

            </md-content>

        </div>
      </div>

      <div flex="10"></div>

    </div>

  </div>
</main>
