<main class="wrapper">
  <div class="main">
    <h1>New Project Page</h1>

    <!-- <IFRAME SRC="http://server1.sky-map.org/skywindow?object=M31&zoom=5&img_source=SDSS" WIDTH=1024 HEIGHT=1024></IFRAME> -->
    <!-- ********************************************* -->
    <!-- insert this snippet where you want Aladin Lite viewer to appear and after the loading of jQuery -->

    <!-- <div id="aladin-lite-div" style="width:1024px;height:1024px;"></div>
          <script type="text/javascript" src="//aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
          <script type="text/javascript">
          var aladin = A.aladin('#aladin-lite-div', {survey: "P/2MASS/color", fov:5, target: "m31"});
          </script> -->

    <div layout="row">

      <div flex="10">column 1</div>

      <!-- <div flex="40">column 2
        <div layout="column" flex="50">
          <div>Top Left</div>
          <div layout-align="end center">Bottom Left</div>
        </div>
      </div> -->

      <div flex="80">column 2
        <div layout="column">
          <div>Top Right</div>
          <div layout-align="end center">Bottom Right</div>

          <!-- ************************************************************************************** -->
          <!-- <div ng-controller="AppCtrl" layout="column" ng-cloak="" class="inputdemoErrorsAdvanced" ng-app="MyApp"> -->

            <md-content layout-padding="">
              <form name="projForm">
                <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
                  <div flex-gt-sm="80">
                    <!-- <p>
                      The <code>md-input-container</code> gives you the flexibility to display your messages
                      using many standard angular directives.
                    </p> -->

                    <!-- <p>
                      For instance, toggle the switch -->

                      <!-- <span hide-xs="" hide-sm="">to the right</span> -->
                      <!-- <span hide-gt-sm="">below</span> -->

                      <!-- to see the messages switch between some custom hints, and the actual error messages.
                      Note that some of the <code>ng-messages</code> containers use <code>ngIf</code> while
                      others use <code>ng-show</code> or <code>ng-hide</code>.
                    </p> -->
                  </div>

                  <md-input-container>
                    <md-switch ng-model="showHints">Showing {{showHints ? "Hints" : "Errors"}}</md-switch>
                  </md-input-container>
                </div>

                <div layout-gt-sm="row">

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Name</label>
                    <input md-maxlength="30" required="" name="name" ng-model="proj.name">

                    <div class="hint" ng-if="showHints">What shall we call your Project?</div>

                    <div ng-messages="projForm.name.$error" ng-if="!showHints">
                      <div ng-message="required">Name is required.</div> <!-- ADD THIS TO ALL FIELDS -->
                      <div ng-message="md-maxlength">The Name has to be less than 30 characters long.</div>
                    </div>
                  </md-input-container>

                  <div flex="5" hide-xs="" hide-sm="">
                    <!-- Spacer //-->
                  </div>

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Cataloge Id</label>
                    <input name="object" ng-model="proj.object" minlength="2" maxlength="12"> <!--  ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" -->

                    <div class="hint" ng-if="showHints">Examples: M31, NGC 7000 or IC 4592</div>

                    <div ng-messages="projForm.social.$error" ng-if="!showHints">
                      <div ng-message-exp="['minlength', 'maxlength']">The Catalog ID has to be less than 30 characters long.</div>
                    </div>
                  </md-input-container>

                </div>

                <div layout-gt-sm="row">

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Camera</label>
                    <input md-maxlength="30" name="img_sensor" ng-model="proj.img_sensor" required="" ng-pattern="/^.+@.+\..+$/">

                    <div class="hint" ng-show="showHints">The Make and Model of your Camera?</div>

                    <div ng-messages="projForm.img_sensor.$error" ng-hide="showHints">
                      <!-- <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']"> -->
                        <div ng-message="md-maxlength">The Camera name has to be less than 30 characters long.</div>
                    </div>
                  </md-input-container>

                  <div flex="5" hide-xs="" hide-sm="">
                    <!-- Spacer //-->
                  </div>

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Telescope</label>
                    <input md-maxlength="30" name="tel_ota" ng-model="proj.tel_ota"> <!--  ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" -->

                    <div class="hint" ng-show="showHints">Example: Tak FSQ106n, Meade 10" SCT or 16" Newtonian</div>

                    <div ng-messages="projForm.tel_ota.$error" ng-hide="showHints">
                      <!-- <div ng-message="pattern">(###) ###-#### -  -->
                        <div ng-message="md-maxlength">The Telescope name has to be less than 30 characters long.</div>
                    </div>
                  </md-input-container>

                </div>
                <div layout-gt-sm="row">

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Sensor size (w in mm)</label>
                    <input name="img_sz_w" ng-model="proj.img_sz_w" minlength="2" maxlength="5">

                    <div class="hint" ng-show="showHints">Example: 23.60</div>

                    <div ng-messages="projForm.img_sz_w.$error" ng-hide="showHints">
                        <div ng-message-exp="['minlength', 'maxlength']">The Sensor size (w) has to be more than 2  and less than 5 digits long.</div>
                    </div>
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Sensor size (h in mm)</label>
                    <input name="img_sz_h" ng-model="proj.img_sz_h" minlength="2" maxlength="5">

                    <div class="hint" ng-show="showHints">Example: 15.80</div>

                    <div ng-messages="projForm.img_sz_w.$error" ng-hide="showHints">
                        <div ng-message-exp="['minlength', 'maxlength']">The Sensor size (h) has to be more than 2  and less than 5 digits long.</div>
                    </div>
                  </md-input-container>

                  <div flex="5" hide-xs="" hide-sm="">
                    <!-- Spacer //-->
                  </div>

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Objective Size (mm)</label>
                    <input name="tel_obj" ng-model="proj.tel_obj" minlength="2" maxlength="4">

                    <div class="hint" ng-show="showHints">Example: Tak FSQ106n, Meade 10" SCT or 16" Newtonian</div>

                    <div ng-messages="projForm.tel_obj.$error" ng-hide="showHints">
                        <div ng-message-exp="['minlength', 'maxlength']">The Sensor size (w x h) has to be more than 2  and less than 4 digits long.</div>
                    </div>
                  </md-input-container>

                </div>
                <div layout-gt-sm="row">

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Sensor Array (w)</label>
                    <input name="img_array_w" ng-model="proj.img_array_w" minlength="2" maxlength="5">

                    <div class="hint" ng-show="showHints">Example: 3872</div>

                    <div ng-messages="projForm.img_array_w.$error" ng-hide="showHints">
                        <div ng-message-exp="['minlength', 'maxlength']">The Sensor size (w) has to be more than 2  and less than 5 digits long.</div>
                    </div>
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Sensor Array (h)</label>
                    <input name="img_array_h" ng-model="proj.img_array_h" minlength="2" maxlength="5">

                    <div class="hint" ng-show="showHints">Example: 2592</div>

                    <div ng-messages="projForm.img_array_w.$error" ng-hide="showHints">
                        <div ng-message-exp="['minlength', 'maxlength']">The Sensor size (h) has to be more than 2  and less than 5 digits long.</div>
                    </div>
                  </md-input-container>

                  <div flex="5" hide-xs="" hide-sm="">
                    <!-- Spacer //-->
                  </div>

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>focal length (mm)</label>
                    <input name="focal_length" ng-model="proj.focal_length" minlength="3" maxlength="5">

                    <div class="hint" ng-show="showHints">Example: 910</div>

                    <div ng-messages="projForm.focal_length.$error" ng-hide="showHints">
                        <div ng-message-exp="['minlength', 'maxlength']">The focal length has to be more than 3  and less than 5 digits long.</div>
                    </div>
                  </md-input-container>

                </div>
                <div layout-gt-sm="row">

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Pixel size (&#956)</label>
                    <input name="pix_sz" ng-model="proj.pix_sz" minlength="1" maxlength="4">

                    <div class="hint" ng-show="showHints">Example: 6.1</div>

                    <div ng-messages="projForm.pix_sz.$error" ng-hide="showHints">
                        <div ng-message-exp="['minlength', 'maxlength']">The Pixel size (w x h) has to be more than 2  and less than 4 digits long.</div>
                    </div>
                  </md-input-container>

                  <div flex="5" hide-xs="" hide-sm="">
                    <!-- Spacer //-->
                  </div>

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>focal ratio</label>
                    <input name="focal_length" ng-model="proj.focal_length" minlength="1" maxlength="3">

                    <div class="hint" ng-show="showHints">Example: 7</div>

                    <div ng-messages="projForm.focal_length.$error" ng-hide="showHints">
                        <div ng-message-exp="['minlength', 'maxlength']">The focal ratio has to be less than 4 digits long.</div>
                    </div>
                  </md-input-container>

                </div>
                <div layout-gt-sm="row">

                  <!-- <md-input-container class="md-block" flex-gt-sm="">
                    <label>Total Cells</label>
                    <input name="cells" ng-model="proj.cells" minlength="1" maxlength="2">

                    <div class="hint" ng-show="showHints">Example: 16</div>

                    <div ng-messages="projForm.cells.$error" ng-hide="showHints">
                        <div ng-message-exp="['minlength', 'maxlength']">The Total Cells has to be  less than 3 digits long.</div>
                    </div>
                  </md-input-container> -->

                </div>
                <div layout-gt-sm="row">

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Cell Matrix (w)</label>
                    <input name="cells_w" ng-model="proj.cells_w" minlength="1" maxlength="2">

                    <div class="hint" ng-show="showHints">Example: 4</div>

                    <div ng-messages="projForm.cells_w.$error" ng-hide="showHints">
                        <div ng-message-exp="['minlength', 'maxlength']">The Matrix (w) has to be  less than 3 digits long.</div>
                    </div>
                  </md-input-container>

                  <div flex="5" hide-xs="" hide-sm="">
                    <!-- Spacer //-->
                  </div>

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Cell Matrix (h)</label>
                    <input name="total_exposures" ng-model="proj.cells_h" minlength="1" maxlength="2">

                    <div class="hint" ng-show="showHints">Example: 4</div>

                    <div ng-messages="projForm.cells_h.$error" ng-hide="showHints">
                        <div ng-message-exp="['minlength', 'maxlength']">The Target Exposure has to be less than 3 digits long.</div>
                    </div>
                  </md-input-container>

                </div>
                <div layout-gt-sm="row">

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Target Exposure (seconds)</label>
                    <input name="target_exp" ng-model="proj.target_exp" minlength="1" maxlength="4">

                    <div class="hint" ng-show="showHints">Example: 300</div>

                    <div ng-messages="projForm.target_exp.$error" ng-hide="showHints">
                        <div ng-message-exp="['minlength', 'maxlength']">The Target Exposure has to be less than 5 digits long.</div>
                    </div>
                  </md-input-container>

                  <div flex="5" hide-xs="" hide-sm="">
                    <!-- Spacer //-->
                  </div>

                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Total number of Exposures</label>
                    <input name="total_exposures" ng-model="proj.total_exposures" minlength="1" maxlength="3">

                    <div class="hint" ng-show="showHints">Example: 72</div>

                    <div ng-messages="projForm.total_exposures.$error" ng-hide="showHints">
                        <div ng-message-exp="['minlength', 'maxlength']">The Target Exposure has to be less than 4 digits long.</div>
                    </div>
                  </md-input-container>

                </div>
                <div layout-gt-sm="row">

                  <style>
                    /*
                     * The Material demos system does not currently allow targeting the body element, so this
                     * must go here in the HTML.
                     */
                    body[dir=rtl] .hint {
                      right: 2px;
                      left: auto;
                    }
                  </style>
                </div>

                <div>
                  <md-button type="submit">Submit</md-button>
                </div>


                <div>
                  {{$ctrl.proj}}
                </div>

              </form>
            </md-content>

          <!-- </div> -->

          <!--
          Copyright 2016 Google Inc. All Rights Reserved.
          Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
          -->

          <!-- ************************************************************************************** -->

        </div>
      </div>

      <div flex="10">column 3</div>

    </div>

  </div>
</main>
