<main class="wrapper">
  <div class="main">
    <h1>New Project Page</h1>

    <!-- <IFRAME SRC="http://server1.sky-map.org/skywindow?object=M31&zoom=5&img_source=SDSS" WIDTH=1024 HEIGHT=1024></IFRAME> -->
    <!-- ********************************************* -->
    <!-- insert this snippet where you want Aladin Lite viewer to appear and after the loading of jQuery -->

    <!-- <div id="aladin-lite-div" style="width:1024px;height:1024px;"></div>
<script type="text/javascript" src="//aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
<script type="text/javascript">
    var aladin = A.aladin('#aladin-lite-div', {survey: "P/2MASS/color", fov:5, target: "m31"});
</script> -->

<div layout="row">

  <div flex="10">column 1</div> <!--  layout="row" class="layout-row" -->

<div flex="40">column 2
  <div layout="column" flex="50"> <!--  class="layout-column" -->
    <div>Top Left</div>
    <div layout-align="end center">Bottom Left</div>
  </div>
</div>

<div flex="40">column 3
  <div layout="column" flex="50">
    <div>Top Right</div>
    <div layout-align="end center">Bottom Right</div>
  </div>
</div>

<div flex="10">column 4</div>

</div>

  </div>
</main>
