<main class="wrapper">
  <div class="main">
    <h1>Project Page</h1>

    <div layout="row">

      <div flex="10">column 1</div> <!--  layout="row" class="layout-row" -->

    <div flex="40">column 2
      <div layout="column" flex="50"> <!--  class="layout-column" -->
        <div>Top Left</div>
        <div layout-align="end center">Bottom Left</div>
      </div>
    </div>

    <div flex="40">column 3
      <div layout="column" flex="50">
        <div>Top Right</div>
        <div layout-align="end center">Bottom Right</div>
      </div>
    </div>

    <div flex="10">column 4</div>

    </div>

  </div>
</main>
