<main class="wrapper">
  <div class="main">
    <h1>Admin</h1>

    <div layout="row">

      <div flex="10"></div>

      <div flex="30">
        <div layout="column">

          <h3>Image</h3>
          <img src="{{$ctrl.project.imgMosiac}}" height="auto" width="550">
        </div>
      </div>

      <div flex="50">
        <div layout="column">

          <h3>{{$ctrl.project.name}} ({{$ctrl.project.object}})</h3>
          <div>Created by: {{$ctrl.project.user_name}}</div>
          <div>Created on: {{$ctrl.project.created_at}}</div>
          <hr>
          <div layout="row" class="boarder1">
            <div layout="column">
              <div>Telescope OTA: {{$ctrl.project.tel_ota}}</div>
              <div>focal length: {{$ctrl.project.focal_length}} mm</div>
              <div>focal ratio: f/ {{$ctrl.project.focal_ratio}}</div>
            </div>
            <div layout="row" layout-align="end end" flex>
              <!-- <img src="./images/{{$ctrl.project.optDiag}}" width="200px" height="auto"> -->
              <div>{{$ctrl.project.ota}}</div>
              <img src="./images/{{$ctrl.project.otaImg}}" width="200px" height="auto">
            </div>
          </div>
          <hr>
          <div layout="row" class="boarder1">
            <div layout="column">
              <div>Camera: {{$ctrl.project.img_sensor}}</div>
              <div>Sensor size: {{$ctrl.project.img_sz_w}} mm x {{$ctrl.project.img_sz_h}} mm</div>
              <div>Sensor array: {{$ctrl.project.img_array_w}} x {{$ctrl.project.img_array_h}}</div>
              <div>Pixel size: {{$ctrl.project.pix_sz}} (microns)</div> <!-- &#956 -->
            </div>
            <div layout="row" layout-align="end end" flex>
              <div>{{$ctrl.project.cam}}</div>
              <img src="./images/{{$ctrl.project.camImg}}" width="200px" height="auto">
            </div>
          </div>
          <hr>
          <div>Field of view: {{($ctrl.project.fov_w * 60).toFixed(2)}} x {{($ctrl.project.fov_h * 60).toFixed(2)}} Arcminutes</div>
          <hr>
          <div>Total number of cells: {{$ctrl.project.cells}}</div>
          <div>Target exposure length: {{$ctrl.project.target_exp}} seconds</div>
          <div>Total number of exposures: {{$ctrl.project.total_exposures}}</div>
        </div>

        <hr>
        <!-- ******************************************************** -->
        <!-- <div layout="row">
          <div>Contributors Contact Info:</div>
          <th><button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="$ctrl.showAddCtbr()" aria-label="add_ctbr">
              <md-icon class="material-icons">add_box</md-icon>
              <div class="md-ripple-container"></div></button></th>
        </div>
        <div layout="row">

          <div flex="10">
          </div>

          <div flex>
            <div layout="column">
              <div ng-repeat="contributor in $ctrl.contributors" flex>
                <div>{{contributor.first_name}}: {{contributor.email}} <i class="material-icons">mail</i><i ng-click="deleteCtbr()" class="material-icons">delete_forever</i></div>
              </div>
            </div>
          </div>

        </div> -->
        <!-- ******************************************************** -->
        <hr>
        <!-- TABLE -->

        <md-toolbar class="md-table-toolbar md-default">
          <div class="md-toolbar-tools">
            <span>Cells</span>
          </div>
        </md-toolbar>

        <md-table-container>
          <table md-table md-row-select multiple  md-progress="promise"> <!-- ng-model="$ctrl.selected" -->
            <thead md-head md-order="query.order" md-on-reorder="getProjects">
              <tr md-row>
                <th md-column>Cell</th>
                <th md-column>Center Position</th>
                <th md-column>By</th>
                <th md-column>Status</th>
                <th md-column>Data</th>
                <!-- ***************** Add Cell Button ***************** -->
                <th><button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="$ctrl.showAdvanced($event)" aria-label="add_cell"> <!--  ng-transclude="" -->
                    <md-icon class="material-icons">add_box</md-icon>
                    <div class="md-ripple-container"></div></button></th>
                <!-- ***************** Add Cell Button ***************** -->
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="cell in $ctrl.cells">
                <td md-cell>{{cell.cell_num}}</td>
                <td md-cell>{{cell.center_ref_ra}} RA, {{cell.center_ref_dec}} dec</td>
                <td md-cell>{{cell.first_name}}</td>
                <td md-cell>{{cell.status}}</td>
                <td md-cell><a href="{{cell.url}}">{{cell.url}}</a></td>
                <!-- <td><i ng-click="createCell()" class="material-icons">create</i><i ng-click="deleteCell()" class="material-icons">delete_forever</i></td> -->
              </tr>
            </tbody>
          </table>
        </md-table-container>

      </div>

      <div flex="10"></div>

    </div>

  </div>

</main>
